.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}

.flex-justify--center {
	justify-content: center;
}
.flex-justify--left {
	justify-content: left;
}
.flex-justify--right {
	justify-content: right;
}

.flex-align--center {
	align-items: center;
}