@use "base/reset";
@use "base/typography";
@use "base/image";
@use "layout/container";
@use "input/button";
@use "base/svg";
@use "utilities/flow";
@use "utilities/radius";
@use "utilities/align";
@use "components/streaming";

.audio-player{
display:flex;
gap:1rem;
align-items:center;
}
