---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import ReleaseCard from "../components/ReleaseCard.astro";
//svgs
import SubstackIcon from "../svg/substack.astro";
import PodcastIcon from "../svg/podcast.astro";
import FacebookIcon from "../svg/facebook.astro";
import InstaIcon from "../svg/instagram.astro";

const releases = (await getCollection("releases")).sort(
	(a, b) => b.data.releaseDate.valueOf() - a.data.releaseDate.valueOf()
);
---

<BaseLayout title="Aaron Austin Music">
	<header class="flow text-center">
		<p>Bootleg prayers, borrowed chords, and occasional art.</p>
	</header>

	<section class="flow text-center">
		<h2>Releases</h2>
		<div class="grid">
			{releases.map((release) => <ReleaseCard release={release} />)}
		</div>
	</section>

	<section class="flow text-center">
		<h2>Connect</h2>
		<div class="link-grid">
			<a class="link-card-sm" href="https://aaronaustin.substack.com/">
				<SubstackIcon />
				<span>Bootleg Prayers<br />(Substack)</span>
			</a>
			<a class="link-card-sm" href="https://shows.acast.com/bootleg-prayers">
				<PodcastIcon />
				<span>Bootleg Prayers<br />(Podcast)</span>
			</a>
			<a class="link-card-sm" href="https://facebook.com/bootlegpreacher">
				<FacebookIcon />
				<span>Facebook</span>
			</a>
			<a class="link-card-sm" href="https://instagram.com/bootlegpreacher">
				<InstaIcon />
				<span>Instagram</span>
			</a>
			<a class="link-card-sm" href="/sing">
				<span>No Kings<br />Song Sheets</span>
			</a>
		</div>
	</section>
</BaseLayout>
